#!/usr/bin/make -f
# -*- makefile -*-
#
# CDBS file to build the libaugeas-ruby package.

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/ruby-pkg-tools/1/class/ruby-extconf-rb.mk

DEB_RUBY_SETUP_CMD = $(CURDIR)/extconf.rb
